{% extends 'main.html'%}

{% block content %}
    {% if request.user.is_authenticated %}
    <main class="account-main">
        <div class="account-div-vertical">
            <img src="assets/img/account-img.png" alt="" id="account-img-perfil">
            <p class="account-string-perfil">Perfil</p>
            <label for="#" class="account-string-label">Usuário: {{ user.username }}</label>
            <p class="account-string-email">{{ user.email }}</p>
            <a href="/csenha/" class="account-options">Mudar senha</a>
            <a class="account-options" href="/logouts/">Sair</a>
        </div>
    </main>
    {% else %}
    <main class="account-main">
        <div class="account-div-vertical">
            <p><FONT COLOR=#ffa500 size="9px">SOMENTE PARA PESSOAS AUTORIZADAS.</FONT></p>
        </div>
    </main>
    {% endif %}
{% endblock %}